/* Space out content a bit */
body {
  background: url('../images/start.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 12px;
}

.navbar {
	font-size: 15px;
}

.boxed {
  background: #ffffff;
  box-shadow: rgb(0, 0, 0) 0px 0px 40px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.messagelist {
	overflow: auto;
}

.navbar ul {
  margin-top: 3px;
}

#main-content {
  margin-left: 40px;
  margin-right: 40px;
}

.messages-container {
  padding-top: 0px;
}