<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graylog2 Stream Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/offcanvas.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="graylog2StreamdashApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-liquid">
        <div id="navwrap">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="./images/toplogo.png"/></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav streams-selector">
                  <li class="dropdown" ng-controller="StreamsCtrl">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Stream <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-hide="streams.length"><a href="#">No permitted streams found</a></li>
                        <li ng-repeat="stream in streams|orderBy:'title'">
                            <a href="#/messages/{{stream.id}}">{{stream.title}}</a>
                        </li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/settings">Settings</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container alerts">
        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" ng-bind-html="alert.message">
        </div>
    </div>

    <div class="container-liquid" id="main-content" ng-view=""></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/angular-base64/angular-base64.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/nginfinitescroll/build/ng-infinite-scroll.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/settingsctrl.js"></script>
        <script src="scripts/controllers/streamsctrl.js"></script>
        <script src="scripts/controllers/messagesctrl.js"></script>
        <script src="scripts/services/settings_services.js"></script>
		<script src="scripts/services/streams_services.js"></script>
		<script src="scripts/services/stream_alerts_services.js"></script>
        <script src="scripts/services/stream_throughput_services.js"></script>
		<script src="scripts/services/messages_services.js"></script>
        <!-- endbuild -->
</body>
</html>
