<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-3">
  </div>
  <div class="boxed col col-md-6 col-offset-3">
    <div class="settingsform">
      <h3>Settings</h3>

      <p>
        Remember that the browser is connecting to the graylog2-server instance directly and needs
        access to it. You also need to enable CORS in your graylog2-server.conf.
      </p>

      <form role="form" ng-submit="update()">
        <div class="form-group">
          <label for="serverUrl">Server URL</label>
          <input type="url" ng-model="settings.serverUrl" required class="form-control" id="serverUrl" placeholder="Enter URL to Graylog2 server">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" ng-model="settings.username" required class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ng-model="settings.password" required class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>